* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: auto;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.list-subtitles {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.content-subtitles {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.button {
  padding: 14px 36px;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #4985ff;
  cursor: pointer;
}

.main-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.main-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}

.promo {
  height: 100vh;
  background: url(../img/promo-background.png);
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header__container {
  padding: 40px 0;
  display: flex;
  justify-content: flex-end;
}

.header__nav-item {
  margin-right: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 40px;
}

.promo__main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  padding-bottom: 335px;
}

.promo__org-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.promo__title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.services__container {
  width: 80%;
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__subtitle {
  max-width: 740px;
}

.services__descr {
  margin: 50px 0 70px 0;
  max-width: 730px;
}

.services__list {
  display: flex;
  list-style-type: none;
}

.services__list-item {
  display: flex;
  flex-wrap: wrap;
}

.services-list__subtitle {
  max-width: 230px;
  margin-bottom: 12px;
}

.services-list__descr {
  max-width: 230px;
  text-align: left;
}

.services-list__picture-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list__picture-container_outer {
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
}

.services-list__picture-container_inner {
  width: 90px;
  height: 90px;
  border: 1px solid #4985ff;
}

.services-list__text-container {
  margin-left: 17px;
  padding-top: 50px;
}

.services__button {
  margin-top: 55px;
}

.standards {
  background: #f6f6f8;
}

.standards__container {
  padding-top: 100px;
  padding-bottom: 70px;
}

.standards__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.standards__subtitle {
  text-align: left;
}

.standards__descr {
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 490px;
  text-align: left;
}

.standards__projects-examples {
  width: 100%;
  padding: 70px 0;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
}

.standards__projects-example {
  max-width: 104px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.standards__projects-amount {
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.specialization {
  background: linear-gradient(to bottom, #504dc2 50%, #ffffff 50%);
}

.specialization__container {
  padding: 100px 0;
}

.specialization__subtitle-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.specialization__subtitle {
  max-width: 540px;
  color: #ffffff;
  text-align: left;
}

.specialization__button {
  align-self: center;
}

.spezialization__content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}

.spezialization__point-subtitle {
  margin: 30px 0;
}

.spezialization__point-number {
  color: #4985ff;
}

.spezialization__point-text {
  max-width: 350px;
  margin-bottom: 30px;
  text-align: left;
}

.portfolio {
  background: #f6f6f8;
}

.potfolio__container {
  padding: 100px 0 130px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfpolio__subtitle {
  max-width: 350px;
}

.portfolio__descr {
  max-width: 730px;
  margin: 50px 0 70px 0;
}

.portfolio__examples-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.demo {
  position: relative;
  display: flex;
  justify-content: center;
  background: url(../img/demo-background.png) center;
  background-size: cover;
}

.demo__container {
  padding: 70px 0 465px 0;
}

.demo__subtitle {
  color: #ffffff;
}

.demo-info {
  color: #ffffff;
}

.demo__video-wrapper {
  position: absolute;
  top: 220px;
  width: 970px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/demo-video--background.png) center no-repeat;
  background-size: cover;
}

.play-button {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  background-color: transparent;
  cursor: pointer;
}

.demo__play-video {
  display: flex;
  align-items: center;
  padding: 20px 29px 20px 40px;
  border: 1px solid #ffffff;
  border-radius: 200px;
}

.play-button__picture-wrapper {
  margin-right: 21px;
}

.subscribe__container {
  padding-bottom: 85px;
  margin-top: 165px;
  border-top: 1px solid #e0e0e0;
}

.subscribe__subtitle {
  padding-top: 85px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

.subscribe__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__offer {
  margin: 20px 0 30px 0;
}

.subscribe__user-data {
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  display: flex;
}

.subscribe-form__user-mail {
  padding: 15px 140px 15px 33px;
  border: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #999999;
}

.subcribe-form__send-button {
  border-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.subscribe__assurance {
  margin-top: 35px;
}

.footer {
  background-color: #f6f6f8;
}

.footer__container {
  padding: 70px 0 30px 0;
  display: flex;
  flex-direction: column;
}

.footer__lists-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  border-bottom: 1px solid #e0e0e0;
}

.footer-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.footer-list {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
  list-style-type: none;
}

.footer__contacts-item {
  margin-top: 30px;
}

.footer__contacts-item:first-child {
  margin-top: 35px;
}

.footer__contacts-item_email::before {
  content: url(../img/footer-contacts__mail-icon.png);
  margin-right: 15px;
}

.footer__contacts-item_phone-number::before {
  content: url(../img/footer-contacts__phone-icon.png);
  margin-right: 15px;
}

.footer__contacts-item_location::before {
  content: url(../img/footer-icons__adress-icon.png);
  margin-right: 15px;
}

.footer__links-item::before {
  content: url(../img/footer-list__link-arrow.png);
  margin-right: 12px;
}

.footer__links-item {
  margin-top: 30px;
}

.footer__links-item:first-child {
  margin-top: 35px;
}

.footer__links-item a {
  text-decoration: none;
  color: #999999;
}

.footer__copyright {
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  color: #999999;
}
