* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 70%;
  margin: auto;
}

.subtitle {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.list-subtitles {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.content-subtitles {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.button {
  padding: 14px 36px;
  border: none;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  background: #4985ff;
  cursor: pointer;
}

.main-text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
}

.main-link {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
}

.promo {
  height: 100vh;
  background: url(../img/promo-background.png);
  background-size: cover;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 100px;
  border-bottom: 1px solid rgba(161, 161, 161, 0.5);
}

.header__container {
  padding: 40px 0;
  display: flex;
  justify-content: flex-end;
}

.header__nav-item {
  margin-right: 40px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-item:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 40px;
}

.promo__main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 220px;
  padding-bottom: 335px;
}

.promo__org-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.promo__title {
  margin-top: 20px;
  margin-bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.services__container {
  width: 80%;
  padding: 110px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__subtitle {
  max-width: 740px;
}

.services__descr {
  margin: 50px 0 70px 0;
  max-width: 730px;
}

.services__list {
  display: flex;
  list-style-type: none;
}

.services__list-item {
  display: flex;
  flex-wrap: wrap;
}

.services-list__subtitle {
  max-width: 230px;
  margin-bottom: 12px;
}

.services-list__descr {
  max-width: 230px;
  text-align: left;
}

.services-list__picture-container {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-list__picture-container_outer {
  width: 110px;
  height: 110px;
  border: 1px solid #e0e0e0;
}

.services-list__picture-container_inner {
  width: 90px;
  height: 90px;
  border: 1px solid #4985ff;
}

.services-list__text-container {
  margin-left: 17px;
  padding-top: 50px;
}

.services__button {
  margin-top: 55px;
}

.standards {
  background: #f6f6f8;
}

.standards__container {
  padding-top: 100px;
  padding-bottom: 70px;
}

.standards__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
}

.standards__subtitle {
  text-align: left;
}

.standards__descr {
  margin-top: 40px;
  margin-bottom: 30px;
  max-width: 490px;
  text-align: left;
}

.standards__projects-examples {
  width: 100%;
  padding: 70px 0;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
}

.standards__projects-example {
  max-width: 104px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.standards__projects-amount {
  margin-left: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
}

.specialization {
  background: linear-gradient(to bottom, #504dc2 50%, #ffffff 50%);
}

.specialization__container {
  padding: 100px 0;
}

.specialization__subtitle-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.specialization__subtitle {
  max-width: 540px;
  color: #ffffff;
  text-align: left;
}

.specialization__button {
  align-self: center;
}

.spezialization__content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 85px;
  border-bottom: 1px solid #e0e0e0;
}

.spezialization__point-subtitle {
  margin: 30px 0;
}

.spezialization__point-number {
  color: #4985ff;
}

.spezialization__point-text {
  max-width: 350px;
  margin-bottom: 30px;
  text-align: left;
}
